@import 'config';

footer {
    background-color: #22353f;
    padding: 30px 0;
    display: flex;
    justify-content: center;

    .copyright_text {
        font-size: 14px;
        line-height: 26px;
        color: #aeaeae;
        font-weight: 300;
        font-family: $c-montserrat;

        .ham_green {
            color: $c-primary-green;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: $c-gray-f5;
            }
        }

        @media(max-width: $r-small) {
            text-align: center;
        }
    }

    @media(max-width: $r-small) {
        padding: 15px 0;
    }
}