@import 'config';

.sec-titles {
    width: 100%;
    height: auto;
    margin: 80px auto;

    .title {
        font-size: 36px;
        line-height: 40px;
        color: $c-main-titles;
        font-weight: 400;
        font-family: $c-montserrat;
        text-align: center;
        margin: 0;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            bottom: -30px;
            right: 50%;
            transform: translate(40%);
            width: 76px;
            height: 1px;
            background-color: $c-primary-green;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: -35px;
            left: 50%;
            transform: translate(-40%);
            width: 76px;
            height: 1px;
            background-color: $c-primary-green;
        }

        @media(max-width: $r-small) {
            font-size: 25px;
            line-height: 30px;
        }
    }

    .white_title {
        color: $c-white;
    }

    @media(max-width: $r-small) {
        width: 90%;
        margin: 60px auto;
        height: auto;
    }
}

.grid_title {
    font-size: 18px;
    line-height: 26px;
    color: $c-white;
    font-weight: 700;
    margin: 0 0 30px;

    @media(max-width: $r-medium) {
        width: 100%;
        text-align: center;
    }
}