@import 'config';

.sticky {
    background-color: rgba($c-header, 1);
    height: 90px;

    .hamburger {
        top: 25px;
    }

    .header-wrapper {

        .logo-box {

            .logo {
                width: auto;
                height: 60px;
            }
        }
    }
}

header {
    transition: .4s;
    background-color: rgba($c-header, 0.7);
    width: 100vw;
    height: 120px;
    position: fixed;
    z-index: 10;

    .hamburger {
        transition: .4s;
        position: absolute;
        top: 40px;
        right: 15px;
        z-index: 5;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        height: 40px;
        width: 40px;

        .bar {
            transition: all .3s ease-in-out;
            width: 100%;
            height: 3px;
            background-color: #bbb;
        }

        @media(max-width: $r-medium) {
            display: flex;
        }

        @media(max-width: $r-tablet) {
            top: 25px;
        }
    }

    .open {
    
        .bar1 {
            transform: translateY(14px) rotate(45deg);
        }

        .bar2 {
            transform: translateX(-20px);
            opacity: 0;
        }

        .bar3 {
            transform: translateY(-14px) rotate(-45deg);
        }
    }

    .header-wrapper {
        width: 1170px;
        height: 100%;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .logo-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            .logo {
                transition: .4s;
                width: auto;
                height: 70px;
                cursor: pointer;
            }

            @media(max-width: $r-small) {
                margin-left: 10px;

                .logo {
                    width: auto;
                    height: 60px;
                }
            }
        }
    
        .navbar {
            display: flex;
            justify-content: space-evenly;
            
            .menu {
                margin: 0;
                padding: 0;
                display: flex;
    
                .list-item {
                    height: auto;
                    list-style: none;
                    padding: 0 15px;
    
                    .link {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 13px;
                        line-height: 42px;
                        font-weight: 700;
                        font-family: $c-montserrat;
                        color: #bbbbbb;
                        transition: 0.4s;
                        cursor: pointer;
                        position: relative;

                        &::after {
                            position: absolute;
                            content: '';
                            height: 3px;
                            width: 100%;
                            bottom: 0;
                            left: 0;
                            background-color: transparent;
                            transition: 0.4s;
                        }

                        &:hover {
                            color: $c-primary-green;
                        }

                        &:hover::after {
                            background-color: $c-primary-green;
                        }
                    }
                }

                @media(max-width: $r-medium) {
                    position: absolute;
                    top: 0;
                    left: -320px;
                    height: 100vh;
                    background-color: $c-header;
                    width: 320px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: all .4s ease;
                }

                @media(max-width: $r-small) {
                    left: -100vw;
                    width: 100vw;
                }
            }

            .open-menu {
                transform: translateX(320px);

                @media(max-width: $r-small){
                    transform: translateX(100vw);
                }
            }

            .search-box {
                display: flex;
                align-items: center;
                margin-left: 10px;

                i {
                    color: #bbbbbb;
                    font-size: 18px;
                    transition: .4s;
                    cursor: pointer;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: $c-primary-green;
                    }
                }

                @media(max-width: $r-small) {
                    margin-right: 80px;
                }
            }
        }

        @media(max-width: $r-medium) {
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: space-around;
        }

        @media(max-width: $r-small) {
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }
    }

    @media(max-width: $r-tablet) {
        height: 90px;
    }
}